.git
.github
.husky
.vscode
.claude
.docker
.env
.env.*
!.env.example
node_modules
build
dist
dev
coverage
**/*.log
**/.DS_Store
self-hosted
pgBackup
storybook-static
test-report.xml
stats.json
packages/**/__generated__
